/* 
================
Reset part 
================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================
Custom styles
=================================
*/



/* h1,h2,h3 {
    font-family: 'Times New Roman', Times, serif;
} */


h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding: 15px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding: 10px;
}

.navbar-nav {
    text-align: right;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    padding: 10px 0 10px 300px;
}

/* .nav-link {
    text-align: right;
} */



.container {
    background: #dbdbdb;
    }

.footer {
    padding: 10px 14px 10px 14px;
    background: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 4px solid aquamarine;
}

.col-md-4 {
    background: aquamarine;
    padding: 20px;
}

.col-md-8 {
    background: #ffffff;
}

.col-md-12 {
    padding-left: 20px;
}
.img-frame {
    padding: 20px;
}

.navbar {
	border-bottom: 1px solid #666666;
}
p {
    line-height: 1.5;
}

.my-info img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 50px 22px 50px;
    /* vertical-align: top; */
  }

.my-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
}
#info {
    background-color: rgb(2, 58, 2);
    color: aqua;
}

.parent {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    list-style-type: disc;
}

#child {
    padding-left: 40px;
    line-height: 1.25;
    text-indent: 20px;
    font-weight: 400;
    
}